<div class="container">
  <h3>Employee Form</h3>
  <p>Welcome to Angular Seed</p>
  <form #form ="ngForm" novalidate>
    <div class="form-group">
      <label for="firstnameID">First Name:</label>
      <input id="firstnameID" type="text" required class="form-control"  name="firstname" ngModel>
    </div>
    <div class="form-group">
        <label>Last Name:</label>
        <input type="text" required class="form-control"  name="lastname" ngModel>
      </div>
    <button class="btn btn-primary" type="submit">Ok</button>
  </form>
</div>

{{form.pristine}}
